.profile {
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .profile img {
    outline: 2px solid #eee;
    outline-offset: -0.5rem;
    border: 1.2rem solid #333;
    border-radius: 5px;
  }
  .profile h2 {
    line-height: 1;
    margin-bottom: 0.5rem;
  }
