.profile {
    padding: var(--p4);
    margin: var(--p4) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .profile img {
    outline: 2px solid #eee;
    outline-offset: calc(var(--p2) * -1);
    border: 1.2rem solid var(--c-dark);
    border-radius: 5px;
  }
  .profile h2 {
    line-height: 1;
    margin-bottom: var(--p2);
    color: var(--c-light);
  }
