:root {
    --cl-primary: $lighten(#233fbb,20);
    --c-primary: #233fbb;
    --cd-primary: $darken( #233fbb,20);
    --c-secondary: #e4cf16;
    --c-light: #ddd;
    --c-nuetral: #aaa;
    --c-dark: #444;
    --c-black: #000;
    --c-white: #fff;

    --p1: .25rem;
    --p2: .5rem;
    --p3: .75rem;
    --p4: 1rem;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--c-black);
    color: var(--c-light);
}

a {
    color: var(--c-light);
}

header {
    display: flex;
    justify-content:space-around;
    align-items:center ;
}
h1 {
    font-weight: bold;
    margin: 0 0 1rem 0;
    line-height: 1;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
    flex-grow:1;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding:0;
    margin:0 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

footer {
    text-align:center;
}